<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book ticket successfully</title>
    <link rel="stylesheet" href="/css/report.css">
</head>
<body>
    <div>
        <p style="font-size:25px;">Book ticket successfully</p>
        <form action="/getPaymentPage" method="post">
            <input type="hidden" value="<%=ac_id%>" name="ac_id">
            <input type="hidden" value="<%=tk_id%>" name="ticket_id">
            <input type="hidden" value="<%=username%>" name="username">
            <input type="hidden" value="<%=password%>" name="password">
            <button type="submit" id="payment">Thanh toán ngay</button>
        </form>
        <form action="/open-MainPage" method="post">
            <input type="hidden" value="<%=username%>" name="username">
            <input type="hidden" value="<%=password%>" name="password">
            <button type="submit" id="later">Để sau</button>
        </form>
    </div>
</body>
</html>